<div>
  <h1>マイページ</h1>
  <p>名前 : <%= @user.name %></p>
  <%= render 'follow_form' %>
  <%= render 'stats' %>
  <p>メールアドレス : <%= @user.email %></p>
  <p>プロフィール : <%= @user.profile %></p> 

  <% if current_user.id == @user.id %>
    <%= link_to "編集する", edit_user_registration_path %>
  <% end %>

  <h2 class="m-3">ユーザーの投稿一覧</h2>
  <div class="contaner ml-5">
    <div class="row">
      <% @user.ecos.each do |t| %>
          <p class="card m-2"><%= image_tag t.image_url, size: "250x200" if t.image? %>
          <%= t.title %>
          <%= link_to "詳細へ", eco_path(t.id) %></p>
      <% end %>
    </div>
  </div>

  <h2 class="m-3">ユーザーがいいねした投稿一覧</h2>
  <div class="contaner ml-5">
    <div class="row">
      <% @user.liked_ecos.each do |t| %>
        <div class="card m-2"><%= image_tag t.image_url, size: "250x200" if t.image? %>
          <p>User:<a href="/users/<%= t.user.id %>"><%= t.user.name %></a></p>
          <%= t.title %>
          <%= link_to "詳細へ", eco_path(t.id) %>
        </div>
      <% end %>
    </div>
  </div>

  <%= link_to "投稿一覧に戻る", ecos_path, class:"btn btn-primary mt-3" %>
  <%= button_to 'ログアウト', destroy_user_session_path, method: :delete, class:"btn btn-secondary btn-sm" %>
</div>
