<%= stylesheet_link_tag 'show', :media => "all" %>
<h2 class="syousai">投稿詳細</h3>

<div class="card show" style="width: 40rem; height: 30rem">
  <p class="card-img-top"><%= image_tag @eco.image_url, size: "400x200" if @eco.image?%></p>
  <div class="card-body">
    <h5 class="card-title"><%= @eco.title %></h5>
    <p class="card-text">内容: <%= @eco.body %></p>
    <p><%= @eco.created_at %></p>

    tag
    <% @eco.tags.each do |tag| %>
     <span><%= tag.name %></span>
    <% end %>
    <br>
    <% if user_signed_in? %>
      <% if current_user.already_liked?(@eco) %>
        <%= link_to eco_like_path(@eco,@eco), method: :delete do %>
          <i class="fas fa-heart"></i><%= @eco.likes.count %>
        <% end %>
      <% else %>
        <%= link_to eco_likes_path(@eco), method: :post do %>
          <i class="fas fa-heart"></i><%= @eco.likes.count %>
        <% end %>
      <% end %>
    <% else %>
      <i class="fas fa-heart"></i><%= @eco.likes.count %>
    <% end %>
  </div>
 

</div>

<div class="row">
  <div class="love col-6">
    <h2>いいねしたユーザー</h2>
    <% @eco.liked_users.each do |user| %>
      <%= user.name %><%= link_to '詳細', user_path(user) %>
    <% end %>
  </div>

  <div class="comment-wrapper col-6">
    <h2>コメント一覧</h2>
    <% @comments.each do |c| %>
      <div>
        <%= c.user.email unless c.user.blank? %>
        <br>
        <%= c.content %>
      </div>
        <br>
    <% end %>

    <% if user_signed_in? %>
      <%= form_with(model: [@eco, @comment], local: true) do |f| %>
        <%= f.text_area :content %>
        <%= button_tag type: "submit" do %>
          <i class="far fa-comments"></i> コメントする
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
<%= link_to "投稿一覧に戻る", ecos_path, class:"btn btn-primary" %>
　



